/* categories section starts */

.categories-bg {
  width: 100%;
}

.categories-bg h1 {
  font: 2.5rem/1.25 "Poppins", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--cor-6);
  text-align: center;
  padding-top: 60px;
}

.categories-bg h1::after {
  content: "";
  display: block;
  width: 80px;
  height: 3px;
  background: var(--cor-p1);
  margin: 10px auto 10px auto;
}

.categories-bg p {
  font: 1.125rem/1.5 "Roboto", sans-serif;
  line-height: 20px;
  color: var(--cor-3);
  text-align: center;
  margin-bottom: 40px;
}
 
.box-categories {
  height: 300px;
  cursor: pointer;
  border: 2px solid #E5E5E5;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
}

.box-categories a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 30px;
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.box-categories h3 {
  font-style: normal;
  font: 2rem "Poppins", sans-serif;
  font-weight: 700;
  line-height: 30px;
  color: var(--cor-0);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
 
.swiper-button-prev-categories {
  position: absolute;
  left: 1.3rem;
  right: auto;
  color:var(--cor-4);
} 


.swiper-button-next-categories {
  position: absolute;
  right: 1.3rem;
  left: auto;
  color:var(--cor-4);
}

/* native start */

.swiper-button-prev-categories, .swiper-button-next-categories{
  top: 1310px;
  width: calc(var(--swiper-navigation-size)/ 44 * 27);
  height: var(--swiper-navigation-size);
  margin-top: calc(0px - (var(--swiper-navigation-size)/ 2));
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-button-next-categories:after, .swiper-rtl .swiper-button-prev-categories:after {
  content: 'next';
}

.swiper-button-prev-categories:after, .swiper-rtl .swiper-button-next-categories:after {
  content: 'prev';
}

.swiper-button-next-categories:after, .swiper-button-prev-categories:after {
  font-family: swiper-icons;
  font-size: var(--swiper-navigation-size);
  text-transform: none!important;
  letter-spacing: 0;
  text-transform: none;
  font-variant: initial;
  line-height: 1;
}

/* native ends */

.swiper-button-prev-categories, .swiper-button-next-categories{
  opacity: 0;
}

.swiper-button-prev-categories:hover, .swiper-button-next-categories:hover {
  color: var(--cor-p1);
}

.swiper-button-prev-categories.active,
.swiper-button-next-categories.active{
  opacity: 1;
}

.swiper-pagination-categories {
  margin-top: 20px;
  bottom: 0px;
  position: static;
  width: 100%;
  text-align: center;
} 


.swiper-pagination-bullet-active {
  opacity: var(--swiper-pagination-bullet-opacity, 1);
  background: var(--swiper-pagination-color,var(--cor-p1));
}

@media only screen and (max-width: 799px) { 
  .box-categories {
    background-size: cover;
  }

}

/* categories section ends */
