/* clients section starts */

.clients-bg {
  width: 100%;
}

.clients-bg h1 {
  font: 2.5rem/1.25 "Poppins", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--cor-6);
  text-align: center;
  padding-top: 60px;
}

.clients-bg h1::after {
  content: "";
  display: block;
  width: 80px;
  height: 3px;
  background: var(--cor-p1);
  margin: 10px auto 10px auto;
}

.clients-bg p {
  font: 1.125rem/1.5 "Roboto", sans-serif;
  line-height: 20px;
  color: var(--cor-3);
  text-align: center;
  margin-bottom: 40px;
}

.box-clients {
  height: 300px;
  border-radius: 10px;
  cursor: pointer;
  background-size:contain;
  width:100%;
  background: var(--cor-0);
  border: var(--border);
  border-radius: 10px;
  opacity: .4;
  transform: scale(.9);
  box-shadow: var(--box-shadow);
}

.swiper-wrapper-clients .swiper-slide-active {
  opacity: 1;
  transform: scale(1);
}

.box-clients a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
  height: 100%;
  width: 100%;
  padding: 25px;
}

.box-clients h3 {
  font-style: normal;
  font: 1.5rem "Poppins", sans-serif;
  font-weight: 700;
  line-height: 30px;
  color: var(--cor-6);
}

.box-clients h3 span {
  color: var(--cor-p1);
}

.box-clients p {
  margin-bottom: 0;
}

.box-clients .stars i{
  font-size: 1.125rem;
  color: var(--cor-p1);
}
 
.swiper-button-prev-clients {
  position: absolute;
  left: 1.3rem;
  right: auto;
  color:var(--cor-4);
} 


.swiper-button-next-clients {
  position: absolute;
  right: 1.3rem;
  left: auto;
  color:var(--cor-4);
}

.swiper-button-prev-clients, .swiper-button-next-clients{
  top: 6620px;
  width: calc(var(--swiper-navigation-size)/ 44 * 27);
  height: var(--swiper-navigation-size);
  margin-top: calc(0px - (var(--swiper-navigation-size)/ 2));
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-button-next-clients:after, .swiper-rtl .swiper-button-prev-clients:after {
  content: 'next';
}

.swiper-button-prev-clients:after, .swiper-rtl .swiper-button-next-clients:after {
  content: 'prev';
}

.swiper-button-next-clients:after, .swiper-button-prev-clients:after {
  font-family: swiper-icons;
  font-size: var(--swiper-navigation-size);
  text-transform: none!important;
  letter-spacing: 0;
  text-transform: none;
  font-variant: initial;
  line-height: 1;
}

.swiper-button-prev-clients, .swiper-button-next-clients{
  opacity: 0;
}

.swiper-button-prev-clients:hover, .swiper-button-next-clients:hover {
  color: var(--cor-p1);
}

.swiper-button-prev-clients.active,
.swiper-button-next-clients.active{
  opacity: 1;
}

.swiper-pagination-clients {
  padding-top: 20px;
  padding-bottom: 20px;
  bottom: 0px;
  position: static;
  width: 100%;
  text-align: center;
} 

/* clients section ends */