/* contact section starts */

.contact-bg {
  width: 100%;
}

.contact-bg h1 {
  font: 2.5rem/1.25 "Poppins", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--cor-6);
  text-align: center;
  padding-top: 60px;
}

.contact-bg h1::after {
  content: "";
  display: block;
  width: 80px;
  height: 3px;
  background: var(--cor-p1);
  margin: 10px auto 10px auto;
}

.contact-bg p {
  font: 1.125rem/1.5 "Roboto", sans-serif;
  line-height: 20px;
  color: var(--cor-3);
  text-align: center;
  margin-bottom: 40px;
}

.contact-bg .contact-wrapper{
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: center;
  gap: 30px;
  margin-bottom: 60px;
}

.contact-bg .contact-wrapper .map{
  padding: 25px 30px;
  flex:1 1 42rem;
  width: 100%;
  box-shadow: var(--box-shadow);
  border-radius: .5rem;
  border: var(--border);
  background: var(--cor-0);
}

.contact-bg .contact-wrapper form{
  padding: 25px 30px;
  flex:1 1 42rem;
  box-shadow: var(--box-shadow);
  border:var(--border);
  text-align: center;
  border-radius: .5rem;
  border: var(--border);
  background: var(--cor-0);
}

.contact-bg .contact-wrapper form h3{
  font-style: normal;
  font: 2rem/1.5 "Poppins", sans-serif;
  font-weight: 700;
  line-height: 30px;
  color: var(--cor-6);
  padding-bottom: 1rem;
}

.contact-bg .contact-wrapper form input, textarea{
  width:100%;
  font: 1.125rem/1.5 "Poppins", sans-serif;
  line-height: 20px;
  letter-spacing: 0.05em;
  color:var(--cor-6);
  border:var(--border);
  padding: 1rem 1.2rem;
  border-radius: .5rem;
  margin-bottom: 20px;
}

.contact-bg .contact-wrapper form textarea{
  height: 160px;
  resize: none;
}


/* contact section ends*/