/* faq section starts */

.faq-bg {
  width: 100%;
  padding-top: 60px;
}

.container-faq {
  width: 800px;
  margin: 0 auto; 
	padding: 0px;
  box-sizing: border-box;
}

.faq-bg h1 {
  font: 2.5rem/1.25 "Poppins", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--cor-6);
  text-align: center;
  padding-top: 60px;
}

.faq-bg h1::after {
  content: "";
  display: block;
  width: 80px;
  height: 3px;
  background: var(--cor-p1);
  margin: 10px auto 10px auto;
}

.faq-bg p {
  font: 1.125rem/1.5 "Roboto", sans-serif;
  line-height: 20px;
  color: var(--cor-3);
  text-align: center;
  margin-bottom: 40px;
}

.faq-bg-wrapper {
  background: var(--cor-2);
}

.faq-lista {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 50px 0 50px 0;
  gap: 10px;
}

.faq-lista li{
  background: var(--cor-0);
  border: var(--border);
  border-radius: 10px;
  box-shadow: var(--box-shadow);
}

.faq-bg .faq-lista li .question {
  display: flex;
  justify-content: space-between;
  padding: 25px 30px 0px 25px;
  margin-bottom: 20px;
  cursor: pointer;
}

.faq-bg .faq-lista li .question i {
  font-size: 1.5rem;
  transition: transform .2s;
}

.faq-bg .faq-lista li .question i.active {
  transform: rotate(180deg);
}

.faq-bg .faq-lista li h4 {
  font: 1.375rem "Poppins", sans-serif;
  font-weight: 500;
  font-weight: 700;
  color: var(--cor-p1);
  letter-spacing: 0.05em;
}

.faq-bg .faq-lista li p {
  display: none;
  color: var(--cor-6);
  font: 1.375rem/1.35 "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  margin-top: 10px;
  margin: 0;
  text-align: left;
  padding: 0px 30px 25px 30px;
}

.faq-bg .faq-lista li p.active {
  display: block;
  transition: max-height 0.2s ease-out 0s, margin-top 0.2s ease-out 0s, margin-bottom 0.2s ease-out 0s, opacity 0.3s ease-out 0s;
}

 @media only screen and (min-width: 800px) and (max-width: 1045px) {
  .faq-bg h1 {
    padding: 60px 60px 0 60px;
  }

   .faq-bg-wrapper .container-faq .faq-lista {
    padding: 50px 60px;
  }

}

@media only screen and (max-width: 799px) { 

  .faq-bg h1 {
    padding: 60px 60px 0 60px;
  }

  .container-faq {
    width: 100%;
  }

  .faq-bg-wrapper .container-faq .faq-lista {
    padding: 50px 60px;
  }

}

/* faq section ends*/

/* @media only screen and (min-width: 800px) and (max-width: 1045px) { 

  .buy-bg .container {
    padding: 0 60px;
}

}

@media only screen and (max-width: 799px) { 

  .swiper-button-prev-buy, .swiper-button-next-buy {
    display: none;
  }

  .buy-bg .container {
    padding: 0 60px;
}

} */