/* models section starts */

.models-bg {
  width: 100%;
}

.models-bg h1 {
  font: 2.5rem/1.25 "Poppins", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--cor-6);
  text-align: center;
  padding-top: 60px;
}

.models-bg h1::after {
  content: "";
  display: block;
  width: 80px;
  height: 3px;
  background: var(--cor-p1);
  margin: 10px auto 10px auto;
}

.models-bg p {
  font: 1.125rem/1.5 "Roboto", sans-serif;
  line-height: 20px;
  color: var(--cor-3);
  text-align: center;
  margin-bottom: 40px;
}
 
.box-models {
  height: 300px;
  border-radius: 10px;
  cursor: pointer;
  background-size:contain;
  width:100%;
  background: var(--cor-0);
  border: var(--border);
  border-radius: 10px;
  box-shadow: var(--box-shadow);
}

.box-models a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
  height: 100%;
  width: 100%;
}

.box-models h3 {
  font-style: normal;
  font: 1.5rem "Poppins", sans-serif;
  font-weight: 700;
  line-height: 30px;
  color: var(--cor-6);
}

.box-models h3 span {
  color: var(--cor-p1);
}
 
.swiper-button-prev-models {
  position: absolute;
  left: 1.3rem;
  right: auto;
  color:var(--cor-4);
} 


.swiper-button-next-models {
  position: absolute;
  right: 1.3rem;
  left: auto;
  color:var(--cor-4);
}

.swiper-button-prev-models, .swiper-button-next-models{
  top: 2520px;
  width: calc(var(--swiper-navigation-size)/ 44 * 27);
  height: var(--swiper-navigation-size);
  margin-top: calc(0px - (var(--swiper-navigation-size)/ 2));
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
}

.swiper-button-next-models:after, .swiper-rtl .swiper-button-prev-models:after {
  content: 'next';
}

.swiper-button-prev-models:after, .swiper-rtl .swiper-button-next-models:after {
  content: 'prev';
}

.swiper-button-next-models:after, .swiper-button-prev-models:after {
    font-family: swiper-icons;
    font-size: var(--swiper-navigation-size);
    text-transform: none!important;
    letter-spacing: 0;
    text-transform: none;
    font-variant: initial;
    line-height: 1;
}

.swiper-button-prev-models:hover, .swiper-button-next-models:hover {
  color: var(--cor-p1);
}

.swiper-button-prev-models.active,
.swiper-button-next-models.active{
  opacity: 1;
}

.swiper-pagination-models {
  padding-top: 20px;
  padding-bottom: 20px;
  bottom: 0px;
  position: static;
  width: 100%;
  text-align: center;
} 

@media only screen and (min-width: 800px) and (max-width: 1045px) { 

  .models-bg .container {
    padding: 0 60px;
}

}

@media only screen and (max-width: 799px) { 

  .swiper-button-prev-models, .swiper-button-next-models {
    display: none;
  }

  .models-bg .container {
    padding: 0 60px;
}

}

/* models section ends */