/* search div starts */

.search-bg {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 500;
  top: 513px;
}

.search-wrapper {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 30px 30px; 
  background: var(--cor-0);
  border: var(--border)
}

.navbar-search ul {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 16px;
  gap: 15px;
}

.navbar-search h3 {
  font: 1rem/1.3 "Poppins", sans-serif;
  font-weight: 700;
  line-height: 20px;
  color: var(--cor-6);
  margin-right: 30px;
  padding-bottom: 15px;
  cursor: pointer;
}

.navbar-search h3:hover {
  color: var(--cor-p1);
}

.navbar-search h3.active {
  border-bottom: 3px solid var(--cor-p1);
}

.input-search {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px; 
}

.input-search input {
  width: 500px;
  font: 1.125rem/1.5 "Poppins", sans-serif;
  line-height: 20px;
  letter-spacing: 0.05em;
  color:var(--cor-6);
  border:var(--border);
  padding: 1rem 1.2rem;
  border-radius: .5rem;
}

.search-wrapper.active {
  animation: show-up .5s forwards;
}

@keyframes show-up {
  from {
    opacity: 0;
    transform: translate3d(0,20px,0);
  }
  to {
    opacity: 1;
    transform: translate3d(0,0,0);
  }
} 

@media only screen and (max-width: 799px) { 
  .input-search input {
    width: 100%;
  }

  .search {
    padding: 10px 60px 10px 60px;
  }

  
}

@media only screen and (max-width: 600px) {
  .navbar-search ul {
    justify-content: space-between;
  }

  .navbar-search h3 {
    margin-right: 0px;
  }
} 
/* search div ends */