/* services section starts */

.services-bg {
  width: 100%;
}

.services-bg h1 {
  font: 2.5rem/1.25 "Poppins", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--cor-6);
  text-align: center;
  padding-top: 60px;
}

.services-bg h1::after {
  content: "";
  display: block;
  width: 80px;
  height: 3px;
  background: var(--cor-p1);
  margin: 10px auto 10px auto;
}

.services-bg p {
  font: 1.125rem/1.5 "Roboto", sans-serif;
  line-height: 20px;
  color: var(--cor-3);
  text-align: center;
  margin-bottom: 40px;
}

.swiper-services-1 {
  padding-bottom: 20px;
}

.swiper-services-2 {
  padding-top: 20px;
} 

.swiper-wrapper-services {
  display: flex;
  gap: 30px;
  height: 300px;
}
 
.box-services {
  height: 100%;
  border-radius: 10px;
  cursor: pointer;
  width:100%;
  background: var(--cor-0);
  border: var(--border);
  border-radius: 10px;
  box-shadow: var(--box-shadow);
}

.box-services a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
  height: 100%;
  width: 100%;
  padding-bottom: 20px;
}

.box-services h3 {
  font-style: normal;
  font: 1.5rem "Poppins", sans-serif;
  font-weight: 700;
  line-height: 30px;
  color: var(--cor-6);
}

.box-services h3 span {
  color: var(--cor-p1);
}

.box-services p {
  margin-bottom: 0;
  font: 1rem "Poppins", sans-serif;
  font-weight: 600;
}

.box-services:hover {
  background: linear-gradient(90deg, #D90008 2.91%, #FF4D53 74.53%);
  transition: .5s linear;
}

.box-services:hover h3 {
  color: var(--cor-0);
}

.box-services:hover h3 span {
  color: var(--cor-0);
}

.box-services:hover p {
  color: var(--cor-0);
}

.services-bg .swiper-services .swiper-wrapper-services .box-services .btn {
  background: var(--cor-s1);
  padding: 10px 25px;
  color: var(--cor-6);
  font-weight: 600;
}

.bservicesuy-bg .swiper-services .swiper-wrapper-services .box-services .btn:hover {
  background: var(--background-3)
}


/* services section ends */