/* componentes starts */
.container {
	max-width: 1046px;
  margin: 0 auto;
	padding: 0px;
  box-sizing: border-box;
}

.btn {
  display: flex;
  padding: 10px 15px;
  font: 1.125rem/1.5 "Poppins", sans-serif;
  border-radius: 10px;
  background: var(--cor-p1);
  color: var(--cor-0);
  cursor: pointer;
  max-width: max-content;
  gap: 10px;
  align-items: center;
  box-shadow: var(--box-shadow);
}

.btn:hover  {
  background: linear-gradient(90deg, #D90008 2.91%, #FF4D53 74.53%);
  transition: all .10s ease;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance:none;
}

.return-btn {
  position: fixed;
  display: none;
  align-items: center;
  justify-content: center;
  bottom: 50px;
  right: 50px;
  z-index: 1000;
  background: var(--cor-s1);
  border-radius: 50px;
  cursor: pointer;
  box-shadow: var(--box-shadow);
  scroll-behavior: smooth;
}

.return-btn i{
  padding: 17px 20px 17px 20px;
  font-size: 1.5rem;
  color: var(--cor-0);
}

.return-btn:hover{
  background:var(--background-3);
}

.return-btn.active {
  display: flex;
  animation: slideDown .8s forwards;
}

@keyframes slideDown {
  from {
    opacity: 0;
    max-height: 0;
  }
  to {
    max-height: 200px;
    opacity: 1;
  }
}

/* componentes ends */