
.small-font-1-xs {
  font: 400 0.8rem/1.3 "Poppins", sans-serif;
}

.small-font-2-xs {
  font: 400 0.8rem/1.3 "Roboto", sans-serif;
}

.p-font-1-s {
  font: 400 1rem/1.5 "Poppins", sans-serif;
}

.p-font-2-s {
  font: 400 1rem/1.5 "Roboto", sans-serif;
}

.h5-font-1-m-a {
  font: 400 1.125rem/1.35 "Poppins", sans-serif;
}

.h5-font-2-m-a{
  font: 500 1.125rem/1.35 "Roboto", sans-serif;
}

.h4-font-1-m-b {
  font: 400 1.25rem/1.35 "Poppins", sans-serif;
}

.h4-font-2-m-b {
  font: 500 1.25rem/1.35 "Roboto", sans-serif;
}

.h3-font-1-l {
  font: 400 1.5rem/1.5 "Poppins", sans-serif;
}

.h3-font-2-l {
  font: 400 1.5rem/1.5 "Roboto", sans-serif;
}

.h2-font-1-xl {
  font: 600 2rem/1.25 "Poppins", sans-serif;
}

.h2-font-2-xl {
  font: 500 2rem/1.25 "Roboto", sans-serif;
}

.h1-font-1-xxl {
  font: 600 4rem/1.125 "Poppins", sans-serif;
}