/* brands section start */

.brands-bg {
  width: 100%;
}

.brands-bg h1 {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
  padding-top: 60px;
}

.brands-bg h1::after {
  content: "";
  display: block;
  width: 80px;
  height: 3px;
  background: #DB0D15;
  margin: 15px auto 10px auto;
}

.brands-bg p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #94949E;
  text-align: center;
  margin-bottom: 50px;
}

.brands-bg-wrapper {
  background: var(  --cor-2);
}

.swiper-brands-1 {
  padding-top: 50px;
  padding-bottom: 40px;
}

.swiper-brands-2 {
  padding-top: 40px;
  padding-bottom: 50px;
}

/* .swiper-wrapper-brands {
  height: 340px;
}  */

.box-brands {
  height: 130px;
  /* border-radius: 10px; */
  cursor: pointer;
  background-size:contain;
  width: 100%;
  border: 1px solid #E5E5E5;
  border-radius: 5px;
  /* box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2); */
  /* position: relative;
  text-align: center; */
  /* overflow: hidden; */
}

.box-brands a {
  display: flex;
  align-items: center;
  padding: 15px 30px;
  height: 100%;
  width: 100%;
}

.box-brands h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 30px;
  color: #000;
}

.swiper-button-prev-brands {
  position: absolute;
  left: 1.3rem;
  right: auto;
  color:var(--cor-4);
} 

.swiper-button-next-brands {
  position: absolute;
  right: 1.3rem;
  left: auto;
  color:var(--cor-4);
}

 /* ----------Native------------ */

.swiper-button-prev-brands, .swiper-button-next-brands{
  top: 1985px;
  /* opacity: 0; */
  width: calc(var(--swiper-navigation-size)/ 44 * 27);
  height: var(--swiper-navigation-size);
  margin-top: calc(0px - (var(--swiper-navigation-size)/ 2));
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-button-next-brands:after, .swiper-rtl .swiper-button-prev-brands:after {
    content: 'next';
}

.swiper-button-prev-brands:after, .swiper-rtl .swiper-button-next-brands:after {
    content: 'prev';
}

.swiper-button-next-brands:after, .swiper-button-prev-brands:after {
    font-family: swiper-icons;
    font-size: var(--swiper-navigation-size);
    text-transform: none!important;
    letter-spacing: 0;
    text-transform: none;
    font-variant: initial;
    line-height: 1;
}
 /* ----------Native------------ */

.swiper-button-prev-brands:hover, .swiper-button-next-brands:hover {
  color: #DB0D15;
  /* opacity: 1; */
}

.swiper-button-prev-brands.active,
.swiper-button-next-brands.active{
  opacity: 1;
}

.swiper-pagination-brands {
  margin-top: 20px;
  bottom: 0px;
  position: static;
  width: 100%;
  text-align: center;
} 

/* brands section ends */

