.brands-bg {
  width: 100%;
}

.brands-bg h1 {
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
  padding-top: 60px;
}

.brands-bg h1::after {
  content: "";
  display: block;
  width: 80px;
  height: 3px;
  background: #DB0D15;
  margin: 15px auto 10px auto;
}

.brands-bg p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #94949E;
  text-align: center;
  margin-bottom: 50px;
}
 


 .swiper-button-prev-brands {
  position: absolute;
  left: 1.3rem;
  right: auto;
  color:var(--cor-4);
} 


.swiper-button-next-brands {
  position: absolute;
  right: 1.3rem;
  left: auto;
  color:var(--cor-4);
}

.swiper-button-prev-brands, .swiper-button-next-brands{
  top: 1365px;
  opacity: 0;
}

.swiper-button-prev-brands:hover, .swiper-button-next-brands:hover {
  color: red;
  opacity: 0;
}

.swiper-button-prev-brands.active,
.swiper-button-next-brands.active{
  opacity: 1;
}



.swiper-pagination-brands {
  margin-top: 20px;
  bottom: 0px;
  position: static;
  width: 100%;
  margin-bottom: 20px;
} 
