/* categories section starts */

.categories-bg {
  width: 100%;
}

.categories-bg h1 {
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
  padding-top: 60px;
}

.categories-bg h1::after {
  content: "";
  display: block;
  width: 80px;
  height: 3px;
  background: #DB0D15;
  margin: 15px auto 10px auto;
}

.categories-bg p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #94949E;
  text-align: center;
  margin-bottom: 50px;
}
 
.box-categories {
  height: 320px;
  border-radius: 10px;
  cursor: pointer;
  background-size:contain;
  width:100%;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
  /* position: relative;
  text-align: center; */
  /* overflow: hidden; */
}

.box-categories a {
  display: flex;
  align-items: center;
  padding: 15px 30px;
  height: 100%;
  width: 100%;
}

.box-categories h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 30px;
  color: #FFFFFF;
}

/* .swiper-categories  {
  height: 330px;
  width: 1220px;
} */

/* .swiper-categories .box-categories {
  position: relative;
  text-align: center;
  overflow: hidden;
} */

/* .swiper-wrapper-categories {
  height: 340px;
}  */
 

.swiper-button-prev-categories {
  position: absolute;
  left: 1.3rem;
  right: auto;
  color:var(--cor-4);
} 


.swiper-button-next-categories {
  position: absolute;
  right: 1.3rem;
  left: auto;
  color:var(--cor-4);
}

.swiper-button-prev-categories, .swiper-button-next-categories{
  top: 1365px;
  opacity: 0;
}

.swiper-button-prev-categories:hover, .swiper-button-next-categories:hover {
  color: red;
  opacity: 0;
}

.swiper-button-prev-categories.active,
.swiper-button-next-categories.active{
  opacity: 1;
}



.swiper-pagination-categories {
  margin-top: 20px;
  bottom: 0px;
  position: static;
  width: 100%;
  text-align: center;
} 

/* categories section ends */