/* contact section starts */

.contact-bg {
  width: 100%;
  padding-top: 60px;
}

.contact-bg h1 {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
}

.contact-bg h1::after {
  content: "";
  display: block;
  width: 80px;
  height: 3px;
  background: #DB0D15;
  margin: 15px auto 10px auto;
}

.contact-bg p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #94949E;
  text-align: center;
  margin-bottom: 50px;
}

.contact-bg .contact-wrapper{
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: center;
  gap:1.5rem;
}

.contact-bg .contact-wrapper .map{
  flex:1 1 42rem;
  width: 100%;
  padding:2rem;
  box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
  border:var(--border);
  border-radius: .5rem;
  border: 2px solid #E5E5E5;
  background: #ffff;
}

.contact-bg .contact-wrapper form{
  padding:2rem;
  flex:1 1 42rem;
  box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
  border:var(--border);
  text-align: center;
  border-radius: .5rem;
  border: 2px solid #E5E5E5;
  background: #ffff;
}

.contact-bg .contact-wrapper form h3{
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 30px;
  color: #000;
  padding-bottom: 1rem;
}

.contact-bg .contact-wrapper form .box{
  font: 1rem "Poppins", sans-serif;
  font-weight: bold;
  width:100%;
  border-radius: 10px;
  padding: 15px 20px;
  text-transform: none;
  border: 2px solid #94949E;
  margin-bottom: 20px;
}


.contact-bg .contact-wrapper form textarea{
  height: 160px;
  resize: none;
}


/* contact section ends*/