/* faq section starts */

.faq-bg {
  width: 100%;
  padding-top: 60px;
}

.faq-bg h1 {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
  padding-top: 60px;
}

.faq-bg h1::after {
  content: "";
  display: block;
  width: 80px;
  height: 3px;
  background: #DB0D15;
  margin: 15px auto 10px auto;
}

.faq-bg p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #94949E;
  text-align: center;
  margin-bottom: 50px;
}


.faq-bg-wrapper {
  background: var(  --cor-2);
}

.faq-lista {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 60px 0 60px 0;
  gap: 10px;
}

.faq-lista li{
  background: var(--cor-0);
  padding: 25px 30px;
  border: 1px solid #E5E5E5;
  border-radius: 10px;
}

.faq-bg .faq-lista li h4 {
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 10px;
}

.faq-bg .faq-lista li p {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  text-align: left;
}

/* faq section ends*/