*{
  font-family: 'Poppins', sans-serif;
  outline: none; 
  border:none;
  text-decoration: none;
  /* text-transform: capitalize; */
  /* transition: .2s linear; */
}

:root{
  --yellow:#f9d806;
  --light-yellow:#ffee80;
  --black:#130f40;
  --light-color:#666;
  --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
  --border:.1rem solid rgba(0,0,0,.1);
}

body {
  background: #F3F5F8;
  height: 2000px;
}

/* header section starts */

.header {
  position: fixed;
  top:0;
  width: 100%;
  background: #ffff;
  z-index: 1000;
  padding: 22px 22px 0px 22px;
}

.header .logo {
  padding: 2px 0;
}

.header .navbar ul {
  display: flex;
  gap: 25px;
  padding: 0 24px;
}

.header .navbar li {
  padding: 20px 0px 36px 0px;
  height: 78px;
}

.header .navbar li a {
  color: #130f40;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 10px; 
}

.header .navbar li a:hover {
  color: #D90008;
  transition: all .5s ease;
}

.header .navbar ul li:hover{
  border-bottom: 3px solid #D90008;
}

.header .navbar ul li i {
  color:#D90008;
}

.header .navbar ul .city a {
  color: #D90008;
}

.header .navbar ul li:nth-child(1)::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 20px;
  background: #D90008;
  top: 19px;
  right: 498px;
}

.header .navbar ul li:nth-child(5):after {
  content: "";
  position: absolute;
  width: 2px;
  height: 20px;
  background: #D90008;
  top: 19px;
  right: 354px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 278px;
  height: 50px;
  background: linear-gradient(90deg, #D90008 2.91%, #FF4D53 74.53%);
  box-shadow: 0 8px 5px -8px #f3123c;
  border-radius: 10px;
  cursor: pointer;
  padding: 0px 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}

.btn:hover  {
  background: #D90008;
}

.header.active .navbar li {
  padding: 20px 0px 8px 0px;
  height: 70px;
}

.header.active {
  padding: 16px 22px 0px 22px;
  box-shadow: var(--box-shadow);
}

/* header section ends */

/* home section starts */

.home{
  padding:0;
}

.home .home-slider .box{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding:2rem;
  background-size: cover !important;
  background-position: center !important;
}

.home .home-slider .box .content{
  text-align: center;
}

.home .home-slider .box .content h1{
  font-style: normal;
  font-weight: 700;
  font-size: 65px;
  padding: 80px 10px 5px 119px;
  letter-spacing: 0.05em;
  text-transform: uppercase;  
  color: #FFFBFB;
  text-align: left;
  transition-delay: .2s;
  text-shadow: 0px 25px 25px rgba(0, 0, 0, 0.4);
}

.home .home-slider .box .content h1 span {
  color: #D90008;
}

.home .home-slider .box .content > *{
  transform: translateY(2rem);
  opacity: 0;
}

.home .home-slider .swiper-slide-active .content > *{
  transform: translateY(0rem);
  opacity: 1;
}

.home .home-slider .swiper-button-next{
  right: 1.5rem;
  color:#fff;
  opacity: 0;
}

.home .home-slider .swiper-button-prev{
  left: 1.5rem;
  color:#fff;
  opacity: 0;
}

.home .home-slider:hover .swiper-button-next,
.home .home-slider:hover .swiper-button-prev{
  opacity: 1;
}

/* home section ends */

/* search div start */

.search {
  position: absolute;
  width: 978px;
  /* height: 173; */
  padding: 30px 30px; 
  margin: 0 auto;
  background: #fff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  left: -50%;
  right: -50%;
  top: 520px;
  z-index: 500;
  gap: 10px;
}

.navbar-search ul {
  display: flex;
  height: 42px;
}

.navbar-search h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #000;
  margin-right: 30px;
  padding: 10px;
  cursor: pointer;
}

.navbar-search h3:hover {
  color: #D90008;
}

.navbar-search h3.active {
  border-bottom: 3px solid #D90008;
}

.input-search {
  display: flex;
  gap: 10px;
  justify-content: start;
  margin-top: 20px;
}

.input-search input {
  font-size: 16px;
  width: 662px;
  height: 50px;
  border: 1px solid #94949E;
  border-radius: 10px;
  background-image: url(img/img-search.png) no-repeat right top fixed;
  padding-left: 33px;
  padding-right: 10px;
  font-weight: bold;
}

.input-search input:hover {
  border: 2px solid #395F9F;
}

.input-search i {
  position: absolute;
  top: 109px;
  left: 42px;
  color: #94949E;
}

.search.active {
  animation: show-up .5s forwards;
}

@keyframes show-up {
  from {
    opacity: 0;
    transform: translate3d(0,20px,0);
  }
  to {
    opacity: 1;
    transform: translate3d(0,0,0);
  }
}

/* search div ends */

/* numbers section starts */

.numbers {
  width: 100%;
  background: #C2C6CC;
  margin-top: 130px;
}

.numbers .icons{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  gap: 1.5rem;
  padding: 1.5rem;
  margin-top: 50px; 
  margin-bottom: 61px;
  background: #fff;
  border-radius: .5rem;
  width: 283px;
  height: 120px;  
  cursor: pointer;
  /* box-shadow: 0 .5rem 1rem rgba(0,0,0,.1); */
}

.numbers .icons i {
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  font-size: 1.5rem;
  border-radius: 50%;
  background: #eee;
  color: #000;
  text-align: center;
}

.numbers .icons .content h3 {
  color: #DB0D15;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 20px;
}

.numbers .icons .content p {
  color: #000000;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin-top: 10px;
}

.numbers .icons:hover{
  background: linear-gradient(90deg, #D90008 2.91%, #FF4D53 74.53%);
}

/* .numbers .icons:hover i{
  background: linear-gradient(90deg, #F5B807 8.64%, rgba(255, 192, 7, 0.74) 83.18%);
} */

.numbers .icons:hover .content h3{
  color:#fff;
}

.numbers .icons:hover .content p{
    color:#fff;
}
/* numbers section ends */

/* categories section starts */

.box-categories {
  width: 386px;
  height: 320px;
	background: url("../img/img-categories-01.jpg") no-repeat center;
  background-size: cover;
}

/* categories section ends */

.categories h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
  padding-top: 60px;
}

.categories h1::after {
  content: "";
  display: block;
  width: 80px;
  height: 3px;
  background: #DB0D15;
  margin: 15px auto 10px auto;
}

.categories p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #94949E;
  text-align: center;
  margin-bottom: 60px;
}

