/* numbers section starts */

.numbers-bg {
  width: 100%;
  background: var(--cor-2);
  margin-top: 130px;
}

.numbers-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 29px;
  align-items: center;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.numbers-bg .icons{
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  gap: 1rem;
  background: var(--cor-0);
  border-radius: .5rem;
  height: 120px;  
  cursor: pointer;
}


.numbers-bg .icons .content h3 {
  color: var(--cor-p1);
  width: 100%;
  font-style: normal;
  font-weight: 700;
  font-size: 1.75rem;
  line-height: 20px;
}

.numbers-bg .icons .content p {
  color: var(--cor-6);
  font: 1.375rem/1.35 "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  margin-top: 10px;
}

.numbers-bg .icons img {
  overflow: hidden;
}

.numbers-bg .icons:hover{
  background: linear-gradient(90deg, #D90008 2.91%, #FF4D53 74.53%);
  transition: .5s linear;
  border: 0px;
}

.numbers-bg .icons:hover .content h3{
  color: var(--cor-0);
}

.numbers-bg .icons:hover .content p{
  color: var(--cor-0);
}

@media only screen and (min-width: 800px) and (max-width: 1045px) {
 .numbers-bg .icons .content p {
  font: 1.125rem/1.5 "Poppins", sans-serif; 
  font-weight: 500;
  }

.numbers-bg .icons .content h3 {
  font: 1.5rem "Poppins", sans-serif;
  font-weight: 700;
}

}

@media only screen and (max-width: 799px) {
 .numbers-wrapper {
  flex-wrap: wrap;

  }

}

/* numbers section ends */