.footer-bg {
  width: 100%;
  /* background: var(--cor-p1); */
  background: linear-gradient(270deg,#ba282b 4.1%,#e8474d 52.73%,#ba282b 97.46%);
}

.footer-wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  padding: 60px 0 60px 0;
  gap: 40px;
}

.footer-wrapper .footer-logo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 60px;
  gap: 20px;
}

.footer-wrapper .footer-logo h3 {
  margin-bottom: 10px;
}

.footer-wrapper .footer-logo p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: var(--cor-0);
}

.footer-wrapper .footer-logo ul{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.footer-wrapper h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 20px;
  color: var(--cor-0);
  margin-top: 20px;
  margin-bottom: 30px;
}

.footer-wrapper a {
  font-size: 20px;
  line-height: 20px;
  color: var(--cor-0);
}

.footer-wrapper a i{
  padding-right: .5rem;
}

.footer-wrapper a:hover i{
  padding-right: 2rem;
}

.footer-wrapper li {
  margin-bottom: 30px;
}

.copy {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  border-top:.1rem solid var(--cor-0);
  padding: 20px 0 80px 0;
  font-size: 18px;
  color: var(--cor-0);
}
